body{
background-color: rgb(17, 14, 14);

}


#inp{
width: 50%;
color: rgb(0, 0, 0);
background-color: rgb(255, 255, 0);
border-radius:10px;
}


h1{
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    background-color: rgb(37, 117, 128);
    width: 30%;
    color: rgb(255, 153, 0);
    border-radius: 50px;
}

button{
    background-color: rgb(0, 0, 0)  !important;
    color: rgb(194, 110, 14) !important; ;
    border-radius: 25px !important;;
}

div{
margin: 120px;

}